<%- include('partials/header', { title }) %>
<h1 class="mb-4">Профіль користувача</h1>
<ul class="list-group mb-4">
  <li class="list-group-item">Ім'я: <%= user.name %>
  </li>
  <li class="list-group-item">Прізвище: <%= user.surname %>
  </li>
  <li class="list-group-item">Логін: <%= user.username %>
  </li>
  <li class="list-group-item">Роль: <%= user.role %>
  </li>
</ul>
<h2 class="h5 mb-3">Змінити дані</h2>
<form action="/profile/update" method="POST" class="row g-3 mb-4">
  <div class="col-md-6"><input type="text" name="username" value="<%= user.username %>" class="form-control">
  </div>
  <div class="col-md-6"><input type="text" name="surname" value="<%= user.surname %>" class="form-control"></div>
  <div class="col-md-6"><input type="text" name="name" value="<%= user.name %>" class="form-control"></div>
  <div class="col-md-6"><input type="password" name="password" class="form-control" placeholder="Новий пароль">
  </div>
  <div class="col-12"><button type="submit" class="btn btn-primary">Змінити</button></div>
</form>
<a class="btn btn-outline-secondary me-2" href="/books">До списку книг</a>
<% if (user.role==='admin' ) { %>
<a class="btn btn-outline-secondary me-2" href="/books/admin">Редагувати книги</a>
<% } %>
<a class="btn btn-danger" href="/logout">Вийти</a>
<%- include('partials/footer') %>